body{
    background-color: brown;
}
#menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}
#menu div{
    width: 20%;
    background-color: green;
}