.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.search-bar div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.search-bar div label {
    font-size: 14px;
    color: #717171;
    margin-bottom: 5px;
}

.search-bar input[type="text"],
.search-bar input[type="date"] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.search-bar input[type="text"]::placeholder {
    color: #b0b0b0;
}

.search-bar button {
    background-color: #ff385c;
    color: white;
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

.search-bar button:hover {
    background-color: #e83257;
}

.search-bar button svg {
    width: 20px;
    height: 20px;
}